html {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
}

body {
    background-color: #ffffff !important;
}

.good-item {
    border: 2px solid #e9e9e9;
    border-radius: 6px;
   
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16); 
    padding: calc(6px + 1.7vw);
    padding-left: calc(10px + 1.5vw);
    padding-right: calc(10px + 1.5vw);
}

.main-image-wrapper {
    position: relative;
    height: fit-content;
    object-fit: cover;
    width: 85%;
    margin: auto;
    /*margin-top: calc(25px + 2.5vw);*/ 
}

.image-section {
    border-radius:15px;
    width: 100% !important;
    background-color: #f1f1f1 !important;
}

.small-container {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1080px !important;
    margin: auto;
    margin-top: calc(5px + 2.5vw);
}

.main-picture-text {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    right: 45%;
    left: 20%;
    font-size: calc(12px + 2vw);
}

@media(max-width:1200px) {
}

@media(max-width:900px) {

    html {
        font-size: 14px !important;
    }

    .col-3.good-wrap {
        width: 33% !important;
    }

    .main-picture-text {
        right: 40%;
        left: 20%;
        font-size: calc(12px + 2vw);
    }

    .main-picture-text {
        right: 50%;
        left: 12%;
        font-size: calc(10px + 2vw) !important;
    }
}

@media (max-width:600px) {
    html {
        font-size: 14px !important;
    }

    .col-3.good-wrap {
        width: 50% !important;
    }

    .main-picture-text {
        right: 45%;
        left: 13%;
        font-size: calc(9px + 2vw) !important;
    }
}

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

    .row > * {
        flex: 1 1;
    }

.container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



.main-image-wrapper img {
    width: 100%;
    z-index: 1;
}

.image-section:hover {
    cursor: pointer;
}

.Name {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 500;
    height: 2.4rem !important;
    margin-bottom: 8px;
    overflow: hidden;
    word-break: break-word;
}


.col-3 {
    flex-grow: 1;
    box-sizing: border-box;
    flex-basis: 25%;
    min-width: 175px;
    margin-bottom: 30px;
    transition: 0.5s;
    padding-right: calc(4px + 0.5vw) !important;
    padding-left: calc(4px + 0.5vw) !important;
}

    .col-3 img {
        width: 100%;
    }


    .col-3:hover {
        transform: translateY(-5px);
    }

.Title {
    text-align: center;
    margin-bottom: 20px;
}

.btn-buy {
    font-size: 1.1rem !important;
    background-color: #fc8507 !important;
    color: rgb(255, 253, 253) !important;
    font-weight: 600 !important;
    border-color: #e7e7e7;
}

    .btn-buy:hover {
        background-color: rgba(255, 166, 0, 0.849) !important;
        color: rgb(255, 255, 255) !important;
    }

.col4 {
    flex: 1 0 24% !important;
}

.co4 img {
    width: 100%;
}


