@model ShopProject.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form style="margin-bottom:10px" method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div style="margin-bottom:10px;">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div style="margin-bottom:10px;">
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>

    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Войти" />
    </div>
</form>

<div>
    <a class="btn btn-primary"  asp-action="Register" > Зарегистрироваться </a>
</div>
