
@*@{ Layout = null;
}
@model User
<h1> Registration</h1>

<div class="container">
    <form asp-antiforgery="true" method="post" asp-action="Register">
        <div asp-validation-summary="ModelOnly"> </div>
        <div>
            <div>
                <label asp-for="Name"> </label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>



            <div>
                <label asp-for="LastName"> </label>
                <input type="text" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>

            <div>
                <label asp-for="Email"> </label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label asp-for="Password"> </label>
                <input type="text" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div>
                <label asp-for="City"> </label>
                <input type="text" asp-for="City" />
                <span asp-validation-for="City"></span>
            </div>

            <input type="submit" />
        </div>

    </form>

</div>*@