@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model ShopProject.Models.Manufacturer
@{
    ViewBag.Title = "Изменение производителя";
}
<form asp-action="Update" asp-controller="Manufacturers">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div style="margin-bottom = 14px;" class="form-group" style="  margin-bottom: 10px">
        <label style="margin-bottom = 8px;" asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group" style="margin-top:15px !important;" style="  margin-bottom: 10px">
        <input type="submit" value="Обновить" class="btn btn-outline-secondary" />
    </div>
</form>
<style>
    label {
        margin-bottom: 5px !important;
    }

    select {
        word-wrap: normal;
        border: 1px solid grey;
        border-radius: 5px;
        height: 28px !important;
    }
</style>