@model List<Good>


<div class="container" style="flex:auto">
    <div class="row">
        <div class="col-lg-8 offset-2">

            @{ int i = 0;}
            @foreach (var item in Model)

            {
                string imgSrc = null;
                if (item.MainImage != null)
                {
                    var base64 = Convert.ToBase64String(item.MainImage);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <div class="good-block">
                    <div class="good-image">
                        <img />
                    </div>
                    <div class="good-name">
                        @item.Name
                    </div>
                    <div class="good-price">
                        @item.Price
                    </div>
                    <div class="good-price">
                        <img src="@imgSrc" alt="Good Image" />
                    </div>
                    <a class="good-detail-link" asp-controller="Good" asp-action="Detailed" asp-route-good_id=@item.Id> Detailed</a>
                </div>
 
                if (ViewBag.IsLiked[i] == true)
                {
                            <btn>
                                <a class=" liked-anchor" asp-action="DislikeFromIndexHome" asp-controller="LikedGood"
                   asp-route-good_id="@item.Id" asp-route-controllername="Home" asp-route-actionname="Index">
                                    <img style="width: 33px !important; " src="~/Images/LikedIcon.png">
                                </a>
                            </btn>

                }
                i++;
            }


        </div>
    </div>
</div>

