@model List<Good>


<div class="container" style="flex:auto">
    <div class="row">
        <div class="col-lg-8 offset-2">

            @{ int i = 0;}
            @foreach (var d in Model)

            {
                string imgSrc = null;
                if (d.MainImage != null)
                {
                    var base64 = Convert.ToBase64String(d.MainImage);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <div class="good-block">
                    <div class="good-image">
                        <img />
                    </div>
                    <div class="good-name">
                        @d.Name
                    </div>
                    <div class="good-price">
                        @d.Price
                    </div>
                    <div class="good-price">
                        <img src="@imgSrc" alt="Good Image" style="width:80%" />
                    </div>
                    <a class="good-detail-link" asp-controller="Good" asp-action="Detailed" asp-route-good_id=@d.Id> Detailed</a>
                </div>
                if (ViewBag.IsLiked[i] == true)
                {

                    <btn>
                        <a class=" liked-anchor" asp-action="DislikeFromIndexLikedGood" asp-controller="LikedGood"
                           asp-route-good_id="@d.Id"> Liked </a>
                    </btn>

                }
                i++;
            }


        </div>
    </div>
</div>

