
#dropdown-close-wrapper {
    display: none !important;
}

@media(max-width:900px) {
    .hide-li {
        display: none !important;
    }

    #dropdown-open {
        display: block ;
    }

    .dropdown-elem i {
        font-size: 20px;
        padding: 2px;
    }
    
}

@media(min-width:900px) {
    #dropdown-wrapper {
        display: none !important;
       
    }

   
    #dropdown-open {
        display: none !important;
    }

    .hide-li {
        display: block !important;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



.category-li {
    position: relative;
}


.form-group {
    margin-top:15px;
}
/* #region Nav*/
.nav-container {
    display: flex;
    width: 100%;
}

    .nav-container ul {
        flex-grow: 0;
    }

.nav-link {
    font-size: 1rem;
}

.anavbar {
    overflow: hidden;
    background-color: #333;
}

    .anavbar a {
        float: left;
        color: white;
        text-align: center;
        /*   padding: 14px 16px;*/
        text-decoration: none;
    }
/* #endregion*/

/* #region Search-div*/
.search-div {
    flex-grow: 2;
    margin-right: 10px;
}

    .search-div a:hover {
        cursor: pointer !important;
    }
/* #endregion*/



/* #region Dropdown Styles*/


.dropdown-elem .adropdown-v a {
    width: fit-content !important;
    text-align: center !important;
}

.dropdown-elem a:hover {
    text-decoration: none;
    cursor: pointer;
}

.dropdown-elem .subcategory-v {
    width: 100%;
}


dropdown-block.adropbtn {
    font-size: 1.5rem !important;
}

#dropdown-close {
    padding-right: 12px !important;
    top: 12px;
    right: 12px;
    font-size: 2rem !important;
    padding-right: calc(2px + 3vw);
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 3rem;
}

    #dropdown-close:hover {
        cursor: pointer;
    }

#dropdown-block:hover {
    cursor: pointer;
}

#dropdown-open:hover {
    cursor: pointer;
}


#dropdown-wrapper {
    position: absolute;
    z-index: 5;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
}

#dropdown-block {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    z-index: 6;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 7px 0px rgba(128, 128, 128, 0.5)
}

.dropdown-elem {
    position: relative;
    width: fit-content;
    height: 3rem;
    font-size: 1.5rem !important;
    width: 100%;
}

.adropbtn{
    text-decoration: none;
}
.dropdown-elem > * {
    height: inherit !important;
}

    .dropdown-elem a {
        text-align: center;
        color: black !important;
        font-size: 1.25rem !important;
        min-width: none !important;
    }

.anchor-wrapper {
    padding: 7px 14px 7px 14px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.anchor-wrapper > a{
    text-decoration: none;
}


.account-dropdown-parent {
    position: relative;
    display: block;
    width: 100%;
}


#account-dropdown-children {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: white;
    z-index: 7;
    border-radius: 0px 0px 10px 10px
}

    #account-dropdown-children a:last-child {
        margin-bottom: 10px;
    }

    #account-dropdown-children a {
        padding: 6px;
        display: block;
        width: 100%;
        text-align: center;
    }
/*#endregion*/

/*#region Account Styles*/
.account-block {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 5;
    background-color: #f6f6f6;
    transition: 1s;
    display: none;
}

.account-show:hover .account-block {
    display: block;
}

.account-show:hover {
    color: red;
}

.account-desk-a {
    display: block;
    width: calc(100% - 40px);
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
}

    .account-desk-a:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: grey;
    }
/* #endregion */

/* #region Styles for both types of categories*/
.adropdown {
    float: left;
    overflow: hidden;
    height: 40px !important;
}

    .adropdown a {
        min-width: 160px;
    }

    .adropdown .adropbtn {
        border: none;
        outline: none;
        color: black;
        min-width: 160px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .anavbar a:hover, .adropdown:hover {
        background-color: #ddd;
    }




.adropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    left: 0;
    top: 40px;
}

    .adropdown-content a {
        float: none;
        color: black;
        display: block;
        text-align: left;
        text-decoration: none;
    }

        .adropdown-content a:hover {
            background-color: #ddd;
        }

.adropdown:hover .adropdown-content {
    display: block;
}
/*#endregion */

/* #region Styles for horizontal categories*/
.subcategory {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
}

.category a {
    width: 100%;
}

.category:hover > .subcategory {
    display: block;
}

.category:hover {
    display: flex;
}

/* #endregion*/

/*  #region Styles  for vertical categories*/
.subcategory-v {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    top: 100%;
    width: 100%;
}

.category-v > a {
    width: 100%;
}




/*  #endregion */

/* #region Footer Styles*/

footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0px 20px;
}

    footer p {
        font-size: 16px;
        font-weight: 600 !important;
        color: #8a8a8a;
        text-align: center;
    }

.footer-col img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    object-fit: contain;
}

footer h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-col {
    align-items: center;
    flex: 0.3 0 25%;
    min-width: 180px;
}


footer ul {
    margin: auto;
    list-style-type: none !important;
}



footer ul {
    display: flex;
    padding: 0 !important;
    width: fit-content;
}

footer a:hover {
    cursor: pointer;
}

footer li {
    padding: 7px;
}

/* #endregion*/

