@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model ShopProject.Models.Category
@{
    ViewBag.Title = "Изменение категории";
}
<form asp-action="Update" asp-controller="Categories">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <select asp-items="@(new SelectList(ViewBag.Categories, nameof(Category.Id),
    nameof(Category.Name)))" asp-for="ParentCategoryId"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Обновить" class="btn btn-outline-secondary" />
    </div>
</form>