@model List<Good>
<link rel="stylesheet" href="~/css/Main.css" />


<div style="color: red; margin-top:10px">@ViewBag.Error</div>
 <div class=" small-container">
    
     @(await Html.PartialAsync("GoodItemPartialView",
            Model,
            new ViewDataDictionary(ViewData)
        {
        { "Controller","Good"  },
        { "Action","Index"  }
        }))
     
</div>


<style>
    .detail_link {
        margin-bottom: calc(4px + 0.25vw);
    }

    .row {
        justify-content: flex-start !important;
    }

    .col-3 {
        flex: 0 0 auto;
    }
</style>